$background-color_1: #F9F2ED;
$background-color_2: #66bb6a;

header, footer {
	overflow:hidden;
	// background: $background-color_2;
}

// .MuiButton-outlined, .MuiButton-text, 	.MuiButton-outlinedWarning  {
// 	border-color: white;
// }

// .MuiTypography-h1 {
// 	color: $color_5;
// }

// .MuiTypography-h2, .MuiTypography-h3 {
// 	color: $color_3;
// }

// .MuiTypography-subtitle1 {
// 	color: gray;
// }

// .MuiTypography-subtitle2 {
// 	color: lightgray;
// }

// .MuiTypography-body1 {
// 	color: black;
// }

// .MuiTypography-body2 {
// 	color: gray;
// }